
# /
/autom4te.cache
/*~
/#*
/.*.swp
/*.orig
/*.bak
/Makefile.in
/Makefile
/configure
/config.log
/config.status
/config.h
/stamp-h1
/.deps
/*.o
/lib*.a
/.swo
/.swp
/.*.swo
/.*.swp

# /bindings/
/bindings/autom4te.cache
/bindings/*~
/bindings/#*
/bindings/.*.swp
/bindings/*.orig
/bindings/*.bak
/bindings/Makefile.in
/bindings/Makefile
/bindings/configure
/bindings/config.log
/bindings/config.status
/bindings/config.h
/bindings/stamp-h1
/bindings/.deps
/bindings/*.o
/bindings/lib*.a

# /bindings/perl/
/bindings/perl/autom4te.cache
/bindings/perl/*~
/bindings/perl/#*
/bindings/perl/.*.swp
/bindings/perl/*.orig
/bindings/perl/*.bak
/bindings/perl/Makefile.in
/bindings/perl/Makefile
/bindings/perl/configure
/bindings/perl/config.log
/bindings/perl/config.status
/bindings/perl/config.h
/bindings/perl/stamp-h1
/bindings/perl/.deps
/bindings/perl/*.o
/bindings/perl/lib*.a
/bindings/perl/Makefile.PL
/bindings/perl/scripts.log
/bindings/perl/perl2file.log
/bindings/perl/pm_to_blib
/bindings/perl/blib
/bindings/perl/Optikus.bs
/bindings/perl/Optikus.c
/bindings/perl/Watch.c
/bindings/perl/Log.c

# /config/
/config/autom4te.cache
/config/*~
/config/#*
/config/.*.swp
/config/*.orig
/config/*.bak
/config/Makefile.in
/config/Makefile
/config/configure
/config/config.log
/config/config.status
/config/config.h
/config/stamp-h1
/config/.deps
/config/*.o
/config/lib*.a

# /doc/
/doc/autom4te.cache
/doc/*~
/doc/#*
/doc/.*.swp
/doc/*.orig
/doc/*.bak
/doc/Makefile.in
/doc/Makefile
/doc/configure
/doc/config.log
/doc/config.status
/doc/config.h
/doc/stamp-h1
/doc/.deps
/doc/*.o
/doc/lib*.a

# /hub/
/hub/autom4te.cache
/hub/*~
/hub/#*
/hub/.*.swp
/hub/*.orig
/hub/*.bak
/hub/Makefile.in
/hub/Makefile
/hub/configure
/hub/config.log
/hub/config.status
/hub/config.h
/hub/stamp-h1
/hub/.deps
/hub/*.o
/hub/lib*.a
/hub/ohubd

# /include/
/include/autom4te.cache
/include/*~
/include/#*
/include/.*.swp
/include/*.orig
/include/*.bak
/include/Makefile.in
/include/Makefile
/include/configure
/include/config.log
/include/config.status
/include/config.h
/include/stamp-h1
/include/.deps
/include/*.o
/include/lib*.a

# /qforms/
/qforms/autom4te.cache
/qforms/*~
/qforms/#*
/qforms/.*.swp
/qforms/*.orig
/qforms/*.bak
/qforms/Makefile.in
/qforms/Makefile
/qforms/configure
/qforms/config.log
/qforms/config.status
/qforms/config.h
/qforms/stamp-h1
/qforms/.deps
/qforms/*.moc.cpp
/qforms/*.moc.h
/qforms/*.tmp.h
/qforms/*.oqs
/qforms/*.o
/qforms/lib*.a
/qforms/oqdock
/qforms/oqlogs
/qforms/oqmsg
/qforms/oqscreens
/qforms/oqsee
/qforms/oqmap
/qforms/oqedit
/qforms/oqecho

# /share/
/share/autom4te.cache
/share/*~
/share/#*
/share/.*.swp
/share/*.orig
/share/*.bak
/share/Makefile.in
/share/Makefile
/share/configure
/share/config.log
/share/config.status
/share/config.h
/share/stamp-h1
/share/.deps
/share/*.o
/share/lib*.a

# /subj/
/subj/autom4te.cache
/subj/*~
/subj/#*
/subj/.*.swp
/subj/*.orig
/subj/*.bak
/subj/Makefile.in
/subj/Makefile
/subj/configure
/subj/config.log
/subj/config.status
/subj/config.h
/subj/stamp-h1
/subj/.deps
/subj/*.o
/subj/lib*.a

# /test/
/test/autom4te.cache
/test/*~
/test/#*
/test/.*.swp
/test/*.orig
/test/*.bak
/test/Makefile.in
/test/Makefile
/test/configure
/test/config.log
/test/config.status
/test/config.h
/test/stamp-h1
/test/.deps
/test/*.o
/test/lib*.a
/test/tmp-sample-subject.*
/test/sample-subject.psv
/test/oscan.out
/test/ooid-cache.lst
/test/test0*.log
/test/test0*.log.[0-9]
/test/ohub.log
/test/oscan.log
/test/sample-echo
/test/sample-subject
/test/test01-loglimit
/test/test02-ini
/test/test05-watch
/test/test06-watchas
/test/test07-watchmsg
/test/test08-subjmsg
/test/test09-rlog
/test/test10-stress1

# /util/
/util/autom4te.cache
/util/*~
/util/#*
/util/.*.swp
/util/*.orig
/util/*.bak
/util/Makefile.in
/util/Makefile
/util/configure
/util/config.log
/util/config.status
/util/config.h
/util/stamp-h1
/util/.deps
/util/*.o
/util/lib*.a

# /watch/
/watch/autom4te.cache
/watch/*~
/watch/#*
/watch/.*.swp
/watch/*.orig
/watch/*.bak
/watch/Makefile.in
/watch/Makefile
/watch/configure
/watch/config.log
/watch/config.status
/watch/config.h
/watch/stamp-h1
/watch/.deps
/watch/*.o
/watch/lib*.a
